.status-box {
    width: 100%;
    height: auto;
}

.status-box .slds-dropdown_left {
    min-width: 100%;
    max-width: 100%;
}

.status-box .slds-dropdown_left::-webkit-scrollbar {
    width: 5px;
}

.status-box .slds-dropdown_left::-webkit-scrollbar-track {
    background-color: transparent;
}

.status-box .slds-dropdown_left::-webkit-scrollbar-thumb {
    background-color: #ccd5e4;
    border-radius: 5px;
}

.status-box .slds-dropdown_left::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

.status-box .slds-dropdown_left {
    margin: 0;
}

.input-text {
    position: relative;
    border-radius: .25rem;
    z-index: 6999;
    margin: 5px 10px 5px 10px;
    padding: 0px 10px 0 10px;
}

.input-text .slds-form-element__label.slds-no-flex,
.input-text .slds-form-element__label {
    display: none;
}

.slds-dropdown.dropdown_max-width {
    max-width: inherit;
    width: inherit;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

.opacity-0,
.opacity-1 {
    margin-right: 5px;
}

/* .select-option:hover {
    background-color: rgb(244, 246, 249);
    cursor: pointer;
} */

.hide {
    display: none;
}

.no-data-found {
    padding: 10px;
    text-align: center;
    color: #909194;
}

input::-webkit-input-placeholder {
    color: #A2ADBE;
    font-weight: 100;
    font-size: 13px;
}

input::-moz-placeholder {
    color: #A2ADBE;
    font-weight: 100;
    font-size: 13px;
}

input:-ms-input-placeholder {
    color: #A2ADBE;
    font-weight: 100;
    font-size: 13px;
}

input:-moz-placeholder {
    color: #A2ADBE;
    font-weight: 100;
    font-size: 13px;
}